<% @title = "Login" %>

<%= form_for @school_session, :html => {:class => ""} do |f| %>
  <fieldset>
    <%= f.text_field :code %>
    <%= f.password_field :password %>

    <div class="input">
      <ul class="inputs-list">
        <li>
          <label>
            <%= check_box_tag "school_session[remember_me]", @school_session.remember_me %> <span>Remember me</span>
          </label>
        </li>
      </ul>
    </div>

    <%= f.actions do %>
      <%= f.submit "Login" %>
    <% end %>

  </fieldset>
<% end %>
