<%= form_for(@student, :validate => true) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inline_inputs [f.text_field(:first_name, :basic => true, :class => "medium"), f.text_field(:surname, :basic => true, :class => "medium")], :prepend => ["First Name", "Surname"], :title => "Name" %>
  <%= f.date_select :dob, {:start_year => 1980 , :end_year => Time.now.year, :order => [:day, :month, :year]},
    :title => "Date of Birth", :class => "small" %>
  
  <%= f.select :gender, ProfileConstants::GENDER, {:prompt => 'Select..'}, :class => "small" %>

  <%= f.inline_inputs [f.text_field(:father_first_name, :basic => true, :class => "medium"), f.text_field(:father_surname, :basic => true, :class => "medium")], :prepend => ["First Name", "Surname"], :title => "Father's Name" %>
  <%= f.inline_inputs [f.text_field(:mother_first_name, :basic => true, :class => "medium"), f.text_field(:mother_surname, :basic => true, :class => "medium")], :prepend => ["First Name", "Surname"], :title => "Mother's Name" %>
  <%= f.inline_inputs [f.text_field(:gaurdian_first_name, :basic => true, :class => "medium"), f.text_field(:gaurdian_surname, :basic => true, :class => "medium")], :prepend => ["First Name", "Surname"], :title => "Gaurdian's Name" %>

  <%= f.select :caste, ProfileConstants::CASTE, {:prompt => 'Select..'}, :class => "small" %>
  <%= f.select :minority, ProfileConstants::MINORITY , {:prompt => 'Select..'}, :class => "small" %>

  <%= f.text_field :father_income_source %>
  <%= f.text_field :father_number %>
  <%= f.text_field :gaurdian_number %>
  <%= f.select :bpl, [["Yes", 1],["No", 0]],:title => "Below Poverty Line", :class => "small" %>
  <%= f.text_field :aadhar_uid %>

  <%= f.text_area :current_address, :class => "xxlarge", :rows => 3 %>
  <%= f.text_area :permanent_address, :class => "xxlarge", :rows => 3 %>


  <%= f.actions do %>
    <%= f.submit "Submit" %>
    <%= f.cancel_path "Cancel", schools_path %>
  <% end %>
<% end %>
