<%= form_for @school, :validate => true do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :Name %>
  <%= f.text_field :code %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.text_area :address %>

  <%= f.actions do %>
    <%= f.submit %>
    <%= f.cancel_path "Cancel", schools_path %>
  <% end %>
<% end %>
